@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --stripes-angle: -45deg;
    --stripes-size: 25px;
    --stripes-rgb: 255 255 255;
    --stripes-opacity: 0.3;
  }

  @keyframes animated-stripes {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(var(--stripes-size));
    }
  }
}

@layer utilities {
  .stripes {
    background-image: linear-gradient(
      var(--stripes-angle),
      rgb(var(--stripes-rgb) / var(--stripes-opacity)) 0% 10%,
      transparent 10% 50%,
      rgb(var(--stripes-rgb) / var(--stripes-opacity)) 50% 60%,
      transparent 60% 100%
    );
    background-size: var(--stripes-size) var(--stripes-size);
  }
  .stripes-inverted {
    --stripes-angle: 45deg;
  }
  .stripes-black {
    --stripes-rgb: 0 0 0;
  }

  .animated-stripes {
    position: relative;
    overflow: hidden;
  }

  .animated-stripes::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100% + var(--stripes-size));
    background-image: linear-gradient(
      var(--stripes-angle),
      rgb(var(--stripes-rgb) / var(--stripes-opacity)) 0% 10%,
      transparent 10% 50%,
      rgb(var(--stripes-rgb) / var(--stripes-opacity)) 50% 60%,
      transparent 60% 100%
    );
    background-size: var(--stripes-size) var(--stripes-size);
    animation: animated-stripes 1s infinite linear;
  }
}
